*{
	box-sizing: border-box;
}

body{
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #f2f2f2;
}

p{
	color: white;
	text-align: justify;
	padding: 10px;
	clear: right;
}

.row{
	width: 100%;
}

div.row > header{
	font-size: 1.75em;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

div.row > section{
	background-color: #778f9d;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 10px;
}


div.row > section > header{
	border: 1px;
	border-style: solid;
	border-color: black;
	color: white;
	float: right;
	font-size: 1.25em;
	width: 150px;
	text-align: center;
}

.section_title_1{
	background-color: #b27fb2;
}

.section_title_2{
	background-color: #d54339;
}

.section_title_3{
	background-color: #b1af27;
}

@media (min-width: 992px){
	.col-desk-1, .col-desk-2, .col-desk-3, .col-desk-4, .col-desk-6, .col-desk-12{
		float: left;
	}

	.col-desk-1{
		width: 8.33%;
	}

	.col-desk-2{
		width: 16.66%;	
	}

	.col-desk-3{
		width: 25%;
	}

	.col-desk-4{
		width: 31%;
	}

	.col-desk-6{
		width: 50%;
	}

	.col-desk-12{
		width: 100%;
	}
}

@media (min-width: 768px) and  (max-width: 991px){
	.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-6, .col-tablet-12{
		float: left;
	}
	.col-tablet-1{
		width: 8.33%;
	}

	.col-tablet-2{
		width: 16.66%;
	}

	.col-tablet-3{
		width: 25%;
	}

	.col-tablet-4{
		width: 33.33%;
	}

	.col-tablet-6{
		width: 47%;
	}

	.col-tablet-12{
		width: 96%;
	}
}
