body {
  font-size: 16px;
  color: #fff;
  background-color: #283c6d;
}

.navbar.navbar-default {
    border: 5px solid #c0c0c0;
}

.navbar-brand {
    font-size: 2em;
}


#main-info {
    margin: 30px;
    text-align: justify;
}

.menu-section {
    background-color: #3d5696;
    margin: 20px;
    padding: 20px;
}